

body {

    background-image: url(img2.jpg);
    background-size: cover;


}

h1,h2 {

color: rgb(38, 77, 252);
text-align: center;
border: 5px solid rgba(255, 176, 170,.5);
cursor: pointer;
}

h2:hover {
background-color: rgb(255, 0, 0);
color: rgb(252, 248, 38);
text-align: center;
border: 5px solid rgba(255, 176, 170, .5);
cursor: pointer;
}

li{

list-style: none;
display: inline;
}

